.destinations {
  @include pxToRem(margin-bottom, 120px);

  &__box {
    display: flex;
    position: relative;
    transform: translateY(-300px);
  }

  &__description {
    flex: 0 0 37%;
    @include pxToRem(margin-right, 30px);
    @include pxToRem(margin-top, 30px);
  }

  &__subtitle {
    color: $title-text-color;
    @include fontSize(30, 45);

    font-weight: 600;

    letter-spacing: 0%;
  }

  &__title {
    color: $title-text-color;
    @include fontSize(55, 83);

    font-weight: 600;

    @include pxToRem(margin-bottom, 15px);
  }
  &__text {
    color: $title-text-color;
    opacity: 0.5;
    @include fontSize(25, 38);

    font-weight: 500;

    @include pxToRem(margin-bottom, 60px);
  }

  &__buttonlink {
    position: relative;
    transition: transform 0.2s ease;
    &:hover {
      transform: translateY(5px);
    }
  }
  // &__linkbutton {
  // }
}

.btn {
  color: $header-text-color;
  @include fontSize(20, 30);
  font-weight: 600;
  letter-spacing: 0%;

  border-radius: $explore-radius-now;
  background: $header-login-button;
  @include pxToRem(padding, 25px, 45px);

  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: inset 0 0 10px rgba(255, 123, 78, 0.5), inset 0 0 20px rgba(0, 128, 0, 0.5),
      inset 0 0 30px rgba(255, 255, 255, 0.5);
  }
}

.swiper {
  position: static;
}

.swiper-autoheight .swiper-wrapper {
  align-items: center;
  transition-property: transform, height;
}

.swiper-wrapper {
  box-sizing: border-box;
}

.slide__content {
  border-radius: $slider-border-radius;
  transition: width 0.3s linear, height 0.3s linear;
}

.slide__content.small {
  width: 325px;
  height: 402px;
  border-radius: $slider-border-radius;
}

.slide__content.big {
  width: 370px;
  height: 456px;
  border-radius: $slider-border-radius;
}

.slider-navigation > * {
  background: $header-login-button;
  border-radius: 34px;
  width: 68px;
  height: 68px;
}

.slider-button {
  position: absolute;
  top: 212px;
  left: 458px;
}

.swiper-button-prev::after .swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
  font-size: 0;
  text-transform: none !important;
  letter-spacing: 0;
  line-height: 0;
}

@media (max-width: 1024px) {
  .slide__content.small {
    width: 265px;
    height: 385px;
  }
  .slide__content.big {
    width: 290px;
    height: 435px;
  }
  .slider-button {
    top: 212px;
    left: 365px;
  }
}
@media (max-width: 768px) {
  .destinations__box {
    flex-direction: column;
    align-items: center;
  }
  .destinations__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    margin-top: 0;
  }
  .destinations__text {
    margin-bottom: 3rem;
    text-align: center;
  }
  .destinations__buttonlink {
    margin-bottom: 4rem;
  }
  .swiper-wrapper {
    width: 700px;
  }

  .slide__content.small,
  .slide__content.big {
    width: 325px;
    height: 402px;
  }

  .slider-button {
    display: none;
  }
}
@media (max-width: 320px) {
  .destinations__title {
    @include fontSize(45, 73);
  }

  .slide__content.small,
  .slide__content.big {
    width: 290px;
    height: 390px;
    object-fit: cover;
  }
}
