.explore {
  @include pxToRem(padding-bottom, 220px);

  &__box {
    display: flex;
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
  }

  &__leftBlock-toplink {
    @include pxToRem(margin-bottom, 10px);
  }

  &__leftBlock-linktop {
    @include fontSize(18, 27);
    color: $header-text-color;

    background: $explore-world-link;
    @include pxToRem(padding, 12px, 40px);
    border-radius: $explore-border-radius;
  }

  &__leftBlock-title {
    color: $header-text-color;
    @include fontSize(55, 83);
    font-weight: 600;

    @include pxToRem(margin-bottom, 30px);
  }

  &__leftBlock-subtitle {
    color: $explore-subtitle-color;
    @include fontSize(25, 38);
    font-weight: 500;

    @include widthRem(520);
    @include pxToRem(margin-bottom, 68px);
  }

  &__leftBlock-bottomlink {
    position: relative;
    max-width: 250px;
    @include pxToRem(padding-bottom, 60px);
    transition: transform 0.2s ease;
    &:hover {
      transform: translateY(5px);
    }
  }

  &__leftBlock-linkbottom {
    position: relative;
    color: $header-text-color;

    @include fontSize(25, 38);
    font-weight: 600;

    @include pxToRem(padding, 26px, 48px);
    background: $header-login-button;
    border-radius: $explore-radius-now;

    transition: box-shadow 0.2s ease;
    &:hover {
      box-shadow: inset 0 0 10px rgba(255, 123, 78, 0.5), inset 0 0 20px rgba(0, 128, 0, 0.5),
        inset 0 0 30px rgba(255, 255, 255, 0.5);
    }
  }

  // Right Block
  &__rightBlock {
    position: relative;
    flex: 0 0 50%;
  }

  &__image {
    position: absolute;
    top: -70px;
    right: 35px;
    // top: -200px;
    // right: -75px;
    z-index: -1;
  }
}

.position__bubble-top {
  position: absolute;
  top: -15px;
  left: -20px;
}

.position__bubble-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
}

.position__wave-top {
  position: absolute;
  top: 30px;
  right: -10px;
}

.position__wave-bottom {
  position: absolute;
  bottom: -50px;
  left: 0px;
}

// Media
@media (max-width: 1024px) {
  .explore__image {
    right: -200px;
  }
  .position__bubble-bottom {
    display: none;
  }
}
@media (max-width: 768px) {
  .explore__image {
    top: -180px;
    right: -265px;
  }
  .position__bubble-bottom,
  .position__bubble-top,
  .position__wave-top,
  .position__wave-bottom {
    display: none;
  }
}

@media (max-width: 576px) {
  .explore__leftBlock-title {
    @include fontSize(55, 83);
    @include pxToRem(margin-bottom, 30px);
    @include widthRem(450);
  }
  @media (max-width: 425px) {
    .explore {
      @include pxToRem(padding-bottom, 40px);

      &__image {
        display: none;
      }

      &__leftBlock-toplink {
        @include pxToRem(padding-bottom, 30px);
      }
      &__leftBlock-title {
        @include fontSize(40, 60);
        @include pxToRem(margin-bottom, 30px);
        max-width: 350px;
      }
      &__leftBlock-subtitle {
        @include fontSize(25, 38);
        max-width: 310px;
      }
      &__leftBlock-bottomlink {
        @include pxToRem(padding-bottom, 0px);
      }
      &__leftBlock-linkbottom {
        @include fontSize(25, 38);
        @include pxToRem(padding, 15px, 30px);
      }
    }
  }
}
