/* -------------------------------------Header------------------------ */
.header {
  background: $header-background;
  clip-path: polygon(
    50% 0%,
    100% 0,
    100% 35%,
    100% 79%,
    79% 85%,
    50% 94%,
    24% 86%,
    0 78%,
    0% 35%,
    0 0
  );
}

// .header__container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
//   height: 70px;
//   @include pxToRem(margin-bottom, 90px);
// }
.header__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 70px;
  @include pxToRem(margin-bottom, 90px);
}

.header__menu {
  flex: 1 1 auto;
} /*расширяет меню если есть логотип и прижимает кнопку бургера к правому краю*/

.header__logo {
  color: $header-text-color;
  font-weight: 700;
  @include fontSize(20);
}

.menu__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__list {
  display: flex;
}
.menu__item {
  @include pxToRem(margin-right, 80px);
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  position: relative;
  color: $header-text-color;
  font-weight: 500;
  &:hover {
    color: $header-text-color;
  }
  &:hover:before {
    transform: scaleX(1);
    transition: transform 0.3s;
    transform-origin: left;
  }
  &::before {
    content: '';
    width: 100%;
    height: 2px;
    background-color: $header-text-color;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scale(0);
    transform-origin: right;
  }
}

.header__login {
  display: flex;
}

.btn__login {
  display: flex;
  align-items: center;
  color: $header-text-color;
  font-weight: 500;
}
.login-up {
  @include pxToRem(margin-right, 21px);
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
.login-in {
  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}

.active {
  color: #fff;
  background: $header-login-button;
  border-radius: $header-border-radius;
  @include pxToRem(padding, 12px, 42px);
}

// Burger
.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
  @include pxToRem(margin-left, 15px);
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: white;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: white;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

// Media
@media (max-width: 860px) {
  .header__burger-btn {
    display: block;
    z-index: 3;
  }
  .menu__body {
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    transition: transform 0.5s;
    z-index: 3;
  }

  .menu__list {
    // @include pxToRem(padding-bottom, 20px);
    // display: block;
    flex-direction: column;
  }
  .menu__item {
    margin-right: 0;
  }
  .menu__link {
    color: white;
    @include fontSize(20);
    display: block;
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }
  .header.open .menu__body {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .header {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 35%,
      100% 79%,
      75% 85%,
      50% 90%,
      32% 86%,
      0 78%,
      0% 35%,
      0 0
    );
  }
}

@media (max-width: 480px) {
  .header {
    clip-path: inset(0 0 0 0);
    @include pxToRem(margin-bottom, 40px);
  }
  .header__container {
    height: 70px;
    @include pxToRem(margin-bottom, 40px);
  }

  .header__logo {
    @include fontSize(16);
  }
  .login-up {
    @include pxToRem(margin-right, 10px);
    @include fontSize(14);
  }
  .login-in {
    background: $header-login-button;
    border-radius: $header-border-radius;
    @include pxToRem(padding, 10px, 20px);
    @include fontSize(14);
  }
  // .header__login {
  //   width: 100px;
  //   display: inline-block;

  //   position: absolute;
  //   left: -130%;
  //   top: 420px;
  //   width: calc(100% - 25px);
  //   height: 100%;
  //   z-index: 3;
  //   transition: transform 0.5s;
  // }
  // .header.open .header__login {
  //   transform: translateX(170%);
  // }
}
