.subscribe {
  @include pxToRem(margin-bottom, 80px);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    text-align: center;
    color: $title-text-color;
    @include fontSize(55, 83);
    font-weight: 600;

    @include pxToRem(margin-bottom, 60px);
  }
}

.form__subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 35px;
  background: rgb(255, 255, 255);
  width: 800px;
}
.subscribe__form-input {
  input {
    color: $subtitle-text-color;
    @include fontSize(24, 36);
    font-weight: 500;

    @include pxToRem(padding-left, 45px);
  }
}
.subscribe__form-btn {
  @include pxToRem(padding, 12px, 15px, 12px, 0px);
}
.form__btn {
  background: $header-login-button;
  border-radius: 35px;
  @include pxToRem(padding, 34px, 86px);
  color: rgb(255, 255, 255);
  @include fontSize(25, 38);

  font-weight: 600;
}

@media (max-width: 768px) {
  .form__subscribe {
    width: 700px;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  .subscribe {
    @include pxToRem(margin-bottom, 60px);

    &__title {
      @include fontSize(45, 60);

      @include pxToRem(margin-bottom, 40px);
    }
  }
  .form__subscribe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
  }
  .subscribe__form-input {
    @include pxToRem(margin-bottom, 40px);
    input {
      max-width: 400px;
      background: rgb(255, 255, 255);
      border-radius: 35px;
      color: $subtitle-text-color;
      @include fontSize(20, 36);
      @include pxToRem(padding, 10px, 30px);
    }
  }
  .subscribe__form-btn {
    @include pxToRem(padding, 0px);
  }
  .form__btn {
    background: $header-login-button;
    border-radius: 35px;
    @include pxToRem(padding, 20px, 40px);
    color: rgb(255, 255, 255);
    @include fontSize(20, 24);
  }
}
