// Конвертація розміру шрифту з рх у rem та line-height в відносні одиниці 1.5
// Приклад виклику міксину - @include fontSize(20, 80);
@mixin fontSize($size, $lineHeight: null) {
  $fontSizeRem: calc($size / 16);
  font-size: #{$fontSizeRem}rem;

  @if $lineHeight != null {
    $lineHeightValue: calc($lineHeight / $size); // Вычисляем относительное значение line-height
    line-height: $lineHeightValue;
  }
}

// Конвертація відступів padding and margin з рх у rem
// Приклад виклику міксину - @include pxToRem(padding, 12px, 42px);
@mixin pxToRem($property, $values...) {
  $remValues: (); // Створюємо порожній список для значень у ремах
  @each $value in $values {
    $remValue: calc($value / $baseFontSize) * 1rem; // Конвертуємо пікселі в реми
    $remValues: append($remValues, $remValue); // Додаємо значення в ремах у список
  }
  #{$property}: $remValues; // Повертаємо властивість зі значеннями в ремах
}

@mixin widthRem($size) {
  width: calc($size / 16) + rem;
}
@mixin hightRem($size) {
  height: calc($size / 16) + rem;
}
