body {
  font-family: 'Poppins', sans-serif;
}

.wrapper {
  overflow: hidden;
  display: flex; /* нужен код чтобы далее можно было прибить футур к низу */
  flex-direction: column; /* нужен код чтобы далее можно было прибить футур к низу */
  min-height: 100%; /*оболочка будет занимать минимум всю ширину окна браузера */
  background-color: #e5e5e5;

  > .main {
    flex: 1 1 auto; /*прижимает футер к низу*/
  }
}

// .main {
//   flex: 1 1 auto; /*прижимает футер к низу*/
// }

[class*='__container'] {
  /*селектор атрибута*/
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px; /*(отступы безопасности чтобы вьюпорт (контент) не прижимался к краям страницы)при добалении отступа в 15рх в min-width добавляем 30рх и значение будет не 1250 - а 1280рх*/
}
